*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(37, 67, 94);
    color: white;
    font-family: Gotham Rounded, sans-serif;
}
.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin-left: 2em;
}

header li {
    padding: 20px;
    margin-right: 2em;
    list-style: none;
    font-size: 1.6rem;
}